
<div class="comment-form">
  <h2>Thoughts? (Coming soon)</h2>

  <form method="POST" action="https://dev.staticman.net/v3/entry/github/alexmaplestone/alexmaplestone.github.io/master">
    <!--<input name="options[redirect]" type="hidden" value="https://alexmaplestone.github.io">-->
    <!-- e.g. "2016-01-02-this-is-a-post" -->
    
    <!-- Staticman filename code -->
    <input name="options[slug]" type="hidden" value="{{ page.slug }}" />
    <label for="name-field">Name</label>
    <input id="name-field" name="fields[name]" type="text" />
    <label for="email-field">Email</label>
    <input id="email-field" name="fields[email]" type="email" />
    <label for="url-field">Site (optional)</label>
    <input id="url-field" name="fields[url]" type="text" />
    <label for="comment-field">Comment</label>
    <textarea id="comment-field" name="fields[message]"></textarea>
    <!-- bot spam filter -->
    <label for="extra-field">Turing test: Leave blank if you are human.</label>
    <input id="extra-field" name="fields[hidden]" type="text" autocomplete="off" />
  
    <button type="submit">Go!</button>
  </form>
</div>
  

  {% assign comments = site.data.comments[page.slug] | sort %}
  {% for comment in comments %}
   <!-- old code
    <div class="comment">
      {% if comment.site != null %}
        <a href="{{ comment.site }}">
          <h3>{{ comment.name }}</h3>
        </a>
      {% else %}
        <h3>{{ comment.name }}</h3>
      {% endif %}
      
      <p>{{ comment.date }}</p>
      <p>{{ comment.message }}</p>
    </div>
   -->

    {% assign name = comment[1].name %}
    {% assign email = comment[1].email %}
    {% assign url = comment[1].url %}
    {% assign date = comment[1].date %}
    {% assign message = comment[1].message %}
    {% include comments.html index=forloop.index name=name email=email url=url date=date message=message %}
  {% endfor %}

